:root {
    font-size: 10px;
    --primary-color: #5799FF;
    --white: #ffffff;
    --grey: #6E757C;
    --grey-dark:#272E35;
    --grey-light: #f3f3f3;
    --pink: #FF858C;
    --rating-primary: #FFCB46;
    --rating-secondary: #FFEAB5;
    --grey-purple: #3A334F;
    --background-color: #fbfbfb;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-size: 1.6rem;
    color: var(--grey-dark);
}
/*
    6. Improve media defaults
  */
img, picture, video, canvas, svg {
    max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input, button, textarea, select {
    font: inherit;
}
/*
    8. Avoid text overflows
  */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    /* color: var(--grey-dark); */
}

p {
    color: var(--grey)
}

ul, li, a{
    list-style: none;
}

a{
	text-decoration:none;
}

.grid-gap {
    display: grid;
    grid-column-gap: 5rem;
}
.fw5 {
    font-weight: 500;
}
.fw6 {
    font-weight: 600;
}
.fw7 {
    font-weight: 700;
}

.wrapper {
    max-width: 144rem;
}

.container {
    max-width: 117rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.header {
    background-color: var(--white);
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10rem;
    left: 0;

}

.header-auth {
    display: inline-block;
}

.logo {
    display: block;
    margin-right: 18rem;
}
.nav-items:not(:first-child) {
    margin-left: 7.4rem;
}

.nav-menu {
    display: flex;
    align-items: center;
}
.nav-link {
    color: var(--grey-dark);
}
.nav-link:hover, .button--normal:hover {
    color: var(--primary-color);
}

.button,
.button--submit {
    font-size: 1.6rem;
    border-radius: 2rem;
    padding: 2rem 4.5rem;
    outline: none;
    cursor: pointer;
    line-height: normal;
}

.hero-button-links,
.content-button-links {
    margin-top: 6rem;
}

.hero-button-links a:first-child {
    padding: 2rem 3rem;
    margin-right: 4rem;
}

.button--primary,
.button--submit {
    color: var(--white);
    background-color: var(--primary-color);
    border: none;
}
.button--primary:focus,.button--primary:hover {
    -webkit-box-shadow: 0 5px 20px 0 rgb(5 33 202 / 50%);
    box-shadow: 0 5px 20px 0 rgb(5 33 202 / 50%);
}

.button--outline {
    border: .2rem solid var(--grey);
    color: var(--grey);
}

.hero,
.content {
    display: flex;
    align-items: center;
    margin-top: 14.6rem;
}

.hero-banner
.content-banner {
    width: 35%;
}

.hero-image,
.intro-image {
    width: 65%;
}

.hero-banner--heading {
    font-size: 5.5rem;
    line-height: 1.4;
}

.button--submit {
    padding: 1rem 3rem;
    width: 14rem;
    margin-left: 1.4rem;
}

#email {
    border-radius: 1rem;
    padding: 0 1rem;
    border: .1rem solid var(--grey);
    font-size: 1.4rem;
}

.email-form {
    padding: 4rem;
    display: flex;
    justify-content: center;
    background-color: var(--grey-light);
}
.email-form input:focus {
    background-color: #f3f7fa;
}

.work,
.studio {
    padding-top: 14.5rem;
    padding-bottom: 6rem;
    display: block;
}

.block {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 6rem;
}

.block-caption {
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: var(--grey);
    display: inline-block;
    position: relative;
    padding: 0 1rem;
}
.block-caption:before {
    left: 0;
    transform: translateX(-100%) translateY(-50%);
}
.block-caption:after {
    right: 0;
    transform: translateX(100%) translateY(-50%);
}
.block-caption:before,
.block-caption:after {
    content: "";
    position: absolute;
    height: 0.2rem;
    width: 3rem;
    background-color: var(--primary-color);
    top: 50%;
}

.block-caption--left {
    padding-left: 4rem;
}
.block-caption--left:after {
    display: none;
}
.block-caption--left:before {
    transform: none;
}

.block-title {
    font-size: 5rem;
}
.block-title> span {
    display: block;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.work-items{
    padding: 4rem 3rem;
    border: .1rem solid var(--grey-light);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    text-align: center;
    line-height: 1.4;
    translate: all .2s linear;
}
.work-items:hover {
    border-color: transparent;
    box-shadow: 0 0 3rem .1rem rgba(0, 0, 0, .06);
}
.work-more {
    translate: all .2s linear;
}
.work-items:hover .work-more {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white);
}
.work-image{
    margin-bottom: 3.5rem;
    height: 11.7rem;
    width: 11.7rem;
}
.work-title{
    font-size: 2rem;
}
.work-desc{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
}

.intro {
    display: flex;
    align-items: center;
    margin: 10rem 0;
}
intro > * {
    width: 50%;
}
.intro-content {
    padding-right: 13rem;
}

.text-p {
    font-weight: 300;
    margin: 3rem 0;
    color: var(--grey);
}

.plans-list {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 8rem;
}
.plans-item {
    position: relative;
    border: .1rem solid var(--grey-light);
    border-radius: 2rem;
    padding: 7rem 2.5rem;
    display: flex;
    flex-direction: column;
    translate: all .2s linear;
}
.plans-item:hover {
    border-color: transparent;
    box-shadow: 0 0 3rem .1rem rgba(0, 0, 0, .06);
}
.plans-item:hover .plans-start {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white);
}
.plans-start {
    margin: auto auto 0;
    translate: all .2s linear;
    display: block;
    width: max-content;
}

.plans-price{
    margin-top: 2rem;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
    border-bottom: .1rem solid var(--grey-light);
}

.plans-dollar {
    vertical-align: top;
    font-size: 1.8rem;
    line-height: 1.6;
}
.plans-month {
    font-size: 5rem;
    line-height: 1;
}
.plans-features {
    margin-bottom: 2rem;
}
.plans-features-items:last-of-type {
    margin-bottom: 7.5rem;
}
.plans-features-icon{
    color: var(--grey);
    margin-right: 1rem;
    margin-bottom: 2.4rem;
}
.plans-most {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--pink);
    color: var(--white);
    padding: 1.5rem;
    border-radius: 0 2rem 0 2rem;
    font-size: 1.4rem;
}

.clients-list{
    grid-template-columns: repeat(3,1fr);
}

.clients-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .1rem solid var(--grey-light);
    border-radius: 2rem;
    padding: 7rem 2.5rem;
    text-align: center;
    display: inline-block;
    translate: all .2s linear;
}
.clients-profile:hover {
    border-color: transparent;
    box-shadow: 0 0 3rem .1rem rgba(0, 0, 0, .06);
}
.clients-image{
    width: 40%
}
.clients-name{
    margin-top: 2rem;
    padding-bottom: 1rem;
}
.clients-major{
    color: var(--grey);
    display: block;
    border-bottom: .1rem solid var(--grey-light);
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
}
.clients-rating {
    color: var(--rating-secondary);
}
.checked {
    color: var(--rating-primary);
}

.studio {
    background-color: var(--background-color);
    margin: 10rem auto 7rem;
    border-radius: 4rem;
    max-width: 90rem;
    position: relative;
    padding: 6rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.studio-desc {
    width: 24.5rem;
    margin-bottom: 3rem;
}
.studio-button-links {
    padding: 3rem 0;
}
.studio-color {
    color: var(--grey-purple);
}
.studio .block .block-caption {
    font-weight: 500;
}

.studio-smile{
    top: 0;
    right: 0;
    position: absolute;
    transform: translate(6rem, -4rem);
}
.studio-chat{
    position: absolute;
    bottom: 5rem;
    left: 5rem;
}
.form-mess-subscription {
    width: 20%;
}
.form-mess-subscription > span {
    display: block;
}
input {
    height: 4rem;
    width: 30%;
    margin-left: 1rem;
}

.footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-column-gap: 8rem;
    color: var(--grey-purple);
    padding-bottom: 8rem;
}
.footer-column:not(:first-child) {
    margin-left: 5rem;
}
.footer-heading {
    margin-bottom: 3rem;
}
.footer-link {
    padding: 2rem 0;
    display: block;
    color: var(--grey-purple);
}
.footer-desc {
    color: var(--grey-purple);
    font-weight: 300;
}
.social-links {
    padding: 3rem 0;
}
.social-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.social-link {
    display: inline-block;
}
.social-link + .social-link {
    margin-left: 1rem;
}
.social-link-item {
    color: var(--white);
}
.social-bg-google {
    background-color: #FF7A79;
}

.social-bg-twitter {
    background-color: #79B0FF ;
}

.social-bg-ins {
    background-color: #FFB979;
}

.media-title {
    margin-bottom: 3rem;
}

.contact {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.copyright {
    text-align: center;
    background-color: var(--grey-purple);
    padding: 15px 0;
    color: var(--grey);
    font-size: 1.3rem;
}
.copyright-text {
    color: var(--white);
}

/* Responsive */

@media only screen and (max-width: 1122px) {
    #nav-menu {
        display: none;
    }
    .nav-items:not(:first-child) {
        margin-left: 4rem;
    }
}

@media only screen and (max-width: 918px) {
    #nav-menu {
        display: none;
    }
    .nav-items {
        display: none;
    }
    .button {
        padding: 2rem 3.6rem;
    }
    .hero-image {
        width: 50%;
    }
    .intro-content {
        padding-right: 6rem;
    }
    .footer {
        grid-column-gap: 2.8rem;
    }
}